@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte-Light.eot');
  src: url('../fonts/Linotte-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Linotte-Light.woff2') format('woff2'),
  url('../fonts/Linotte-Light.woff') format('woff'),
  url('../fonts/Linotte-Light.ttf') format('truetype'),
  url('../fonts/Linotte-Light.svg#Linotte-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte-Heavy.eot');
  src: url('../fonts/Linotte-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Linotte-Heavy.woff2') format('woff2'),
  url('../fonts/Linotte-Heavy.woff') format('woff'),
  url('../fonts/Linotte-Heavy.ttf') format('truetype'),
  url('../fonts/Linotte-Heavy.svg#Linotte-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte-Bold.eot');
  src: url('../fonts/Linotte-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Linotte-Bold.woff2') format('woff2'),
  url('../fonts/Linotte-Bold.woff') format('woff'),
  url('../fonts/Linotte-Bold.ttf') format('truetype'),
  url('../fonts/Linotte-Bold.svg#Linotte-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte-Regular.eot');
  src: url('../fonts/Linotte-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Linotte-Regular.woff2') format('woff2'),
  url('../fonts/Linotte-Regular.woff') format('woff'),
  url('../fonts/Linotte-Regular.ttf') format('truetype'),
  url('../fonts/Linotte-Regular.svg#Linotte-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte-SemiBold.eot');
  src: url('../fonts/Linotte-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Linotte-SemiBold.woff2') format('woff2'),
  url('../fonts/Linotte-SemiBold.woff') format('woff'),
  url('../fonts/Linotte-SemiBold.ttf') format('truetype'),
  url('../fonts/Linotte-SemiBold.svg#Linotte-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

