// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-family-sans-serif-print: Helvetica, Arial, sans-serif;
$font-family-lino-serif: 'Linotte', Arial, sans-serif;
$font-family-lino-serif-print: 'Linotte', Helvetica, Arial, sans-serif;
//$font-family-custom-1: "Nunito", Arial, sans-serif;
//$font-family-custom-2: "Poppins", Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #0088cc;
$secondary-color: #de8f44;
$color-primary: #0088cc;
$color-secondary: #e5f6fb;
$color-tertiary: #2baab1;
$color-quaternary: #383f48;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
